
// $base-color: #EEE !default;

$grey-color: #3C3F53;
$mid-grey-color: #232535;
$dark-grey-color: #2C2F42;
$light-grey-color: #E5E5E7;
$darker-grey-color: #191C2E;

$folders: #3EC997;
$images: #ECAF1D;
$documents: #ffa075;
$video: #cd90ce;


$shadow: rgba(50, 50, 51, 0.2) 0px 0px 20px 4px;
